.header {
  margin: 0 auto;
  background-image: url('../../assets//images//Rectangle\ 8.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 655px;
  &-navigation {
    height: 75px;
    display: flex;
  }
  &-container {
    display: flex;
    justify-content: space-between;
    &__text {
      margin: 0;
      width: 586px;
    }
  }
}

.logo-text {
  color: #ffffff;
  font-family: Motserrat, sans-serif;
  font-weight: 400;
  font-size: 40px;
}
