.header {
  margin: 0 auto;
  background-image: url('../../assets//images//Rectangle\ 8.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 655px;
  &-navigation {
    height: 75px;
    display: flex;
    align-items: center;
  }
  &-container {
    display: flex;
    justify-content: space-between;
    &__box {
      margin: 0;
      width: 586px;
    }
    &__title {
      font-family: Monsterrat;
      font-weight: 400;
      color: #fff;
      font-size: 48px;
      margin-bottom: 24px;
    }
    &__text {
      font-family: Monsterrat;
      color: #fff;
      margin-bottom: 32px;
    }
    &__link-view {
      font-family: Monsterr, sans-serif;
      text-decoration: none;
      color: #3a80ba;
      padding: 17px 31px;
      background-color: #fff;
      border-radius: 8px;
      transition: linear 250ms;
      &:hover{
        color: #fff;
        background-color:#3a80ba;
      }
    };
    &__img-mobile{
        margin-right: 100px;
    };
  }
}

.logo-text {
  color: #ffffff;
  font-family: Motserrat, sans-serif;
  font-weight: 400;
  font-size: 40px;
}
